.App {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9200000167) -0%, rgba(0, 0, 0, 0.7599999905) 100%);
  
}

body{margin: 0;
  padding : 0;
  overflow: hidden;}

.LeftBar{
  height: 100%;
  width: 300px;
  color: white;
  background-color: #000000;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.RightBar{

  height: 100%;
  width: 300px;
  color: white;
  background-color: #000000;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  right: 0;
  
}

.List{
  height: auto;
  width: 100%;
  padding: 0px;
  margin-top: 20px;
}

.List .row{

  width: 350px;
  height: 50px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.List .row:hover{
  cursor: pointer;
  background-color: #282828;
}
.row #icon{
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title{
  flex:70%
}

.LogoList{
  padding: 0;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{

  margin: 5%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
